---
---
body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-weight: normal;
  padding: 1em;
  max-width: clamp(320px, 90%, 1000px);
  margin-inline: auto;
  font-size: 1.15rem;
  line-height: 1.4;
  background-color: mintcream;
  text-underline-offset: 0.15lh;
  /* https://adactio.com/journal/22085 */
}

ul {
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(25vw, 1fr));
  max-width: 100%;
  list-style-type: "";
  li {
    min-width: minmax(25vw, 1fr);
    a {
      text-decoration: none;
    }
  }
}

/* 
  Style Variant Definitions
*/

ul.round {
  grid-template-columns: 1fr;
  li {
    padding: 0.5rem;
    border: solid 1px purple;
    border-radius: 5ch;
    margin-bottom: 0.5rem;
    width: 80%;
    text-align: center;
  }
}

footer {
  font-size: smaller;
}